$bp-tablet: 768px;
$bp-tablethorizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;

$font-total: "Poppins", sans-serif;

$blue: #77b4d8;
$black: #151515;
$dark-grey: #333333;
$grey: #444444;
$light-grey: #99a4af;
$white: #ffffff;
$blue-intenso: #11d8ff;
$green-light: #bae0a3;
$blue-light: #f6fcfe;
$gradian-cq: linear-gradient(84deg, #73bac8 18%, #bae0a3);
