@use "../abstracts/variables" as va;
@use "../abstracts/mixins" as mx;
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px 30px;
  background-color: va.$white;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & img {
      width: 140px;
      @include mx.breakpoint(tablet) {
        width: 150px;
      }
      @include mx.breakpoint(desktop) {
        width: 190px;
      }
    }
    &-hambur {
      color: va.$dark-grey;
      font-size: 17px;
      padding: 1px 10px;
      margin-left: 40%;
      @include mx.breakpoint(tablet) {
        display: none;
      }
    }
    &-nav {
      display: none;
      & a {
        text-decoration: none;
        font-size: 14px;
        color: va.$dark-grey;
        @include mx.breakpoint(desktop) {
          font-size: 17px;
        }
      }
      @include mx.breakpoint(tablet) {
        display: flex;
        margin-right: 0;
        gap: 10px;
      }
      @include mx.breakpoint(tablethorizontal) {
        gap: 25px;
      }
      @include mx.breakpoint(desktop) {
        gap: 30px;
      }
    }
  }
  @include mx.breakpoint(tablet) {
    padding: 30px 50px;
  }
  @include mx.breakpoint(desktop) {
    margin-left: 70px;
    margin-right: 70px;
    padding: 30px 80px;
  }
  /* Estilos del contenedor principal */
  .header__container-nav-masters ul {
    list-style: none;
    padding: 0;
    display: flex;
    position: relative;

    .dropdown {
      position: relative; /* Para que el hijo se posicione respecto a este */
    }

    /* Estilo del botón principal */
    .dropbtn {
      text-decoration: none;

      display: block;
      color: #333;
    }

    /* Ocultamos el submenú por defecto */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: va.$white;
      min-width: 250px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid va.$green-light;
      z-index: 1;
      flex-direction: column; /* Para que los enlaces vayan uno debajo de otro */
    }

    /* Mostramos el menú al pasar el ratón */
    .dropdown:hover .dropdown-content {
      display: flex;
    }

    /* Estilo de los enlaces internos */
    .dropdown-content li a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      color: #333;
      border-bottom: 1px solid va.$green-light;
    }

    .dropdown-content li a:hover {
      background-color: #f1f1f1;
    }
  }
}
